NLP/regulare-expression/data
NLP/regulare-expression/nyt.bigrams
NLP/regulare-expression/nyt.nextwords
NLP/regulare-expression/secret.bigram
NLP/regulare-expression/secret.nextword
NLP/regulare-expression/secret_ec.txt
NLP/regulare-expression/secret_ec.words